
setuptools
razorpay
xhtml2pdf

channels





requests

twilio
django-extensions

Django==5.0.6
gunicorn==21.2.0
whitenoise==6.6.0
python-dotenv==1.0.1
psycopg2-binary==2.9.9
cloudinary==1.39.1
django-cloudinary-storage==0.3.0
dj-database-url==2.2.0
Pillow==10.4.0
django-heroku==0.3.1
